<div class="container">
  <hr class="featurette-divider">
  <h2 class="text-center telapequena"> Nossa Historia</h2>
  <p>
    O descarte irregular é um dos maiores problemas das grandes cidades brasileiras. No contexto atual apenas 3,7% de
    todo o lixo é reciclado.
  </p>
  <p>
    Visando essa condição, criamos uma iniciativa em parceria com a prefeitura da Cidade de São Paulo para obtenção de
    móveis descartados em Ecopontos e em condições de recuperação são doados ou vendidos para a GETMóveis.
  </p>
  <p>
    Em nossa oficina, empregamos marceneiros capacitados e jovens aprendizes de baixa renda, recuperamos esses móveis e
    revendemos em nosso e-Commerce com qualidade e preço acessível. Também possuímos em nossa plataforma a oportunidade
    dos usuários doarem seus móveis antigos e que não utilizarão mais, para que possamos reformá-los e vendê-los.
  </p>
  <p>
    Nossa plataforma tem como público alvo pessoas de baixa renda e como objetivos combater o descarte irregular de
    móveis, poupar o meio ambiente, gerar empregos e comercializar móveis de qualidade a um preço acessível.
  </p>
  <div class="embed">
    <iframe src="https://www.youtube.com/embed/W8V9NFx0s1I" allowfullscreen></iframe>

  </div>


  <!-- MISSÃO VISÃO E VALORES -->
  <hr class="featurette-divider">
  <div class="row p-2 mt-5">
    <div class="col-lg-6">
      <h2 class="d-flex justify-content-center">MISSÃO</h2>
      <p class="lead text-center">Percebemos que móveis em estado de deterioração são destinados a locais
        indevidos ou até mesmo esquecidos em
        pontos de coleta e decidimos como missão diminuir o impacto destes produtos na natureza.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid d-block mx-auto" style="border-radius: 10px;" [src]=sobrenosM width="300" height="250">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row p-2">
    <div class="col-md-6 order-md-2">
      <h2 class="d-flex justify-content-center">VISÃO</h2>
      <p class="lead text-center">Desejamos ser referência em restauração e venda de móveis usados, trazendo
        qualidade e preço justo em
        todos os serviços prestados a nossos clientes e principalmente agir com respeito ao meio ambiente.</p>
    </div>
    <div class="col-md-6 order-md-1">
      <img class="img-fluid d-block mx-auto" style="border-radius: 10px;" [src]=sobrenosV width="300" height="250">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row p-2">
    <div class="col-lg-6">
      <ul class="h2 text-center" style="list-style-type:disc">VALORES
        <div class="lead mt-4 d-flex align-items-center flex-column">
          <div class="text-left">
            <li>Satisfação do cliente</li>
            <li>Respeito ao meio ambiente</li>
            <li>Qualidade do produto</li>
            <li>Colaboração</li>
          </div>

        </div>
      </ul>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid d-block mx-auto" style="border-radius: 10px;" [src]=sobrenosVl width="300" height="250">
    </div>
  </div>
  <hr class="featurette-divider">

  <!-- FIM DE MISSÃO VISÃO E VALORES -->

  <!-- INICIO DOS BOTÕES COM IMAGEM DOS DESENVOLVEDORES -->

  <p class="h2 text-center p-2 mt-5 mb-5">DESENVOLVEDORES:</p>


  <div class="row mt-5 mb-5">


    <div class="col col-sm-6 col-lg-4 d-flex justify-content-around">
      <!-- GABRIEL -->
      <button type="button" class="btn" data-toggle="modal" data-target="#descricaogabriel">
        <img class="card-img-top rounded-circle" [src]=fundadorGabriel style="width: 12rem; height: 12rem;"
          alt="Imagem de capa do Card">
        <p class="h5 mt-2">Gabriel Fernando</p>
      </button>

      <div class="modal fade" id="descricaogabriel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Gabriel Fernando</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Formado pela Universidade São Judas Tadeu, Gabriel Fernando esta sempre em busca de inovação e
              conhecimentos. Na
              GET Moveis ele trouxe soluções para os diversos desafios da empresa e auxilia em soluções para os
              paradigmas
              do
              nosso nicho de mercado.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"><a
                  href="https://www.linkedin.com/in/gabriel-fernando-mcsilva/" target="_blank" style="color: white;">
                  LinkedIn</a></button>
              <button type="button" class="btn btn-primary"><a href="https://github.com/bielmoita" target="_blank"
                  style="color: white;">
                  Github</a></button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-lg-4 d-flex justify-content-around">
      <!-- LUCIVALDO -->
      <button type="button" class="btn" data-toggle="modal" data-target="#descricaolucivaldo">
        <img class="card-img-top rounded-circle" [src]=fundadorLucivaldo style="width: 12rem; height: 12rem;"
          alt="Imagem de capa do Card">
        <p class="h5 mt-2">Lucivaldo Queiroz</p>
      </button>

      <div class="modal fade" id="descricaolucivaldo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Lucivaldo Queiroz</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Bacharel em Direito, Lucivaldo aspira por sua mais nova paixão que é a programação, busca sua formação
              em Análise e Desenvolvimento de Sistemas, recolocação profissional na área de tecnologia
              e alcançar mediante muito esforço o tão sonhado sucesso profisisonal.

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-sm-6 col-lg-4 d-flex justify-content-around">
      <!-- THIAGO -->
      <button type="button" class="btn" data-toggle="modal" data-target="#descricaothiago">
        <img class="rounded-circle" [src]=fundadorThiago style="width: 12rem; height: 12rem;"
          alt="Imagem de capa do Card">
        <p class="h5 mt-2">Thiago Duarte</p>
      </button>

      <div class="modal fade" id="descricaothiago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Thiago Duarte</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Desenvolvedor Full Stack, gosta muito de ciências exatas e tecnologia. Obteve experiência nas áreas de
              engenharia e inovação durante a graduação. Teve também a oportunidade de trabalhar em duas startups.
              Thiago tem um pensamento analítico e criativo sempre voltado a inovação e a melhoria de processos.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>