<div class="container">
  <h2 class="h2 text-center p-2 mt-5 mb-5 nossahistoria">NOSSA HISTÓRIA</h2>
  <p class="lead text-justify">
    O descarte irregular é um dos maiores problemas das grandes cidades brasileiras. No contexto atual apenas 3,7% de
    todo o lixo é reciclado.
  </p>
  <p class="lead text-justify">
    Visando essa condição, criamos uma iniciativa em parceria com a prefeitura da Cidade de São Paulo para obtenção de
    móveis descartados em Ecopontos e em condições de recuperação são doados ou vendidos para a GETMóveis.
  </p>
  <p class="lead text-justify">
    Em nossa oficina, empregamos marceneiros capacitados e jovens aprendizes de baixa renda, recuperamos esses móveis e
    revendemos em nosso e-Commerce com qualidade e preço acessível. Também possuímos em nossa plataforma a oportunidade
    dos usuários doarem seus móveis antigos e que não utilizarão mais, para que possamos reformá-los e vendê-los.
  </p>
  <p class="lead text-justify">
    Nossa plataforma tem como público alvo pessoas de baixa renda e como objetivos combater o descarte irregular de
    móveis, poupar o meio ambiente, gerar empregos e comercializar móveis de qualidade a um preço acessível.
  </p>
  
  <div class="col-md-9 col-lg-6 mx-auto mt-3 embed-responsive embed-responsive-4by3">
    <iframe src="https://www.youtube.com/embed/-elzvlK72LY" allowfullscreen></iframe>
    
  </div>
  
  
  <!-- MISSÃO VISÃO E VALORES -->
  <hr class="featurette-divider">
  <div class="row p-2 mt-5">
    <div class="col-lg-6">
      <h2 class="d-flex justify-content-center">MISSÃO</h2>
      <p class="lead text-center">Percebemos que móveis em estado de deterioração são destinados a locais
        indevidos ou até mesmo esquecidos em
        pontos de coleta e decidimos como missão diminuir o impacto destes produtos na natureza.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid d-block mx-auto" style="border-radius: 10px;" [src]=sobrenosM width="300" height="250">
      </div>
    </div>
    
    <hr class="featurette-divider">
    <div class="row p-2">
      <div class="col-lg-6 order-md-1 order-lg-2">
        <h2 class="d-flex justify-content-center">VISÃO</h2>
        <p class="lead text-center">Desejamos ser referência em restauração e venda de móveis usados, trazendo
          qualidade e preço justo em
          todos os serviços prestados a nossos clientes e principalmente agir com respeito ao meio ambiente.</p>
        </div>
        <div class="col-lg-6 order-md-2 order-lg-1">
          <img class="img-fluid d-block mx-auto" style="border-radius: 10px;" [src]=sobrenosV width="300" height="250">
        </div>
      </div>
      
      <hr class="featurette-divider">
      <div class="row p-2">
        <div class="col-lg-6">
          <ul class="h2 text-center" style="list-style-type:square">VALORES
            <div class="lead mt-4 d-flex align-items-center flex-column">
              <div class="text-left">
                <li>Satisfação do cliente</li>
                <li>Respeito ao meio ambiente</li>
                <li>Qualidade do produto</li>
                <li>Colaboração</li>
              </div>
              
            </div>
          </ul>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid d-block mx-auto" style="border-radius: 10px;" [src]=sobrenosVl width="300" height="250">
        </div>
      </div>
      <hr class="featurette-divider">
      
      <!-- FIM DE MISSÃO VISÃO E VALORES -->
      
      <!-- INICIO DOS BOTÕES COM IMAGEM DOS DESENVOLVEDORES -->
      
      <p class="h2 text-center p-2 mt-5 mb-5">DESENVOLVEDORES</p>
      
      
      <div class="row mt-5 mb-5">
        
        
        <div class="col col-sm-6 col-lg-4 d-flex justify-content-around">
          <!-- GABRIEL -->
          <button type="button" class="btn grow" data-toggle="modal" data-target="#descricaogabriel">
            <img class="card-img-top rounded-circle" [src]=fundadorGabriel
            style="width: 12rem; height: 12rem; object-fit: cover;" alt="Homem caucasiano com camiseta branca com os dizeres: Generation imagem de Gabriel">
            <p class="h5 mt-2">Gabriel Fernando</p>
          </button>
          
          <div class="modal fade" id="descricaogabriel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog tamanhoModal">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">Gabriel Fernando</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-5 ml-auto"><img [src]=fundadorGabriel class="w-100 h-100 fotoModal"
                      style="object-fit: cover;" alt="Homem caucasiano com camiseta branca com os dizeres: Generation imagem de Gabriel"></div>
                      <div class="col-md-7 ml-auto mt-2">
                        <p class="text-justify">Formado pela Universidade São Judas Tadeu, Gabriel Fernando esta sempre em
                          busca de inovação e
                          conhecimentos. Na
                          GET Moveis ele trouxe soluções para os diversos desafios da empresa e auxilia em soluções para os
                          paradigmas
                          do
                          nosso nicho de mercado.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 ml-auto">
                      <a href="https://www.linkedin.com/in/gabriel-fernando-mcsilva" target="_blank">
                        <fa-icon [icon]="faLinkedinIn" class="fa-2x mr-3" alt="Linkedin Gabriel"></fa-icon>
                      </a>
                      <a href="https://github.com/bielmoita" target="_blank">
                        <fa-icon [icon]="faGithub" class="fa-2x" alt="Github Gabriel"></fa-icon>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-sm-6 col-lg-4 d-flex justify-content-around">
            <!-- LUCIVALDO -->
            <button type="button" class="btn grow" data-toggle="modal" data-target="#descricaolucivaldo">
              <img class="card-img-top rounded-circle" [src]=fundadorLucivaldo
              style="width: 12rem; height: 12rem; object-fit: cover;" alt="Homem caucasiano com camiseta branca com os dizeres: Generation imagem de Lucivaldo">
              <p class="h5 mt-2">Lucivaldo Queiroz</p>
            </button>
            
            <div class="modal fade" id="descricaolucivaldo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog tamanhoModal">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Lucivaldo Queiroz</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-5 ml-auto"><img [src]=fundadorLucivaldo class="w-100 h-100 fotoModal"
                        style="object-fit: cover;" alt="Homem caucasiano com camiseta branca com os dizeres: Generation imagem de Lucivaldo"></div>
                        <div class="col-md-7 mt-2 ml-auto">
                          <p class="text-justify">Bacharel em Direito, Lucivaldo aspira por sua mais nova paixão que é a
                            programação, busca sua formação em Análise e Desenvolvimento de Sistemas, recolocação profissional
                            na área de tecnologia
                            e alcançar mediante muito esforço o tão sonhado sucesso profissional.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 ml-auto">
                        <a href="https://www.linkedin.com/in/lucivaldo-queiroz" target="_blank">
                          <fa-icon [icon]="faLinkedinIn" class="fa-2x mr-3" alt="Linkedin Lucivaldo"></fa-icon>
                        </a>
                        <a href="https://github.com/lnpqdev" target="_blank">
                          <fa-icon [icon]="faGithub" class="fa-2x" alt="Github Lucivaldo"></fa-icon>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col col-sm-12  col-lg-4 d-flex justify-content-around">
              <!-- THIAGO -->
              <button type="button" class="btn grow" data-toggle="modal" data-target="#descricaothiago">
                <img class="rounded-circle" [src]=fundadorThiago style="width: 12rem; height: 12rem; object-fit: cover;"
                alt="Homem caucasiano com camiseta branca com os dizeres: Generation imagem de Thiago">
                <p class="h5 mt-2">Thiago Duarte</p>
              </button>
              
              <div class="modal fade" id="descricaothiago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog tamanhoModal">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thiago Duarte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4 ml-auto"><img [src]=fundadorThiago class="w-100 h-100 fotoModal"
                          style="object-fit: cover;" alt="Homem caucasiano com camiseta branca com os dizeres: Generation imagem de Thiago"></div>
                          <div class="col-md-8 ml-auto mt-2">
                            <p class="text-justify"> Desenvolvedor Full Stack, gosta muito de ciências exatas e tecnologia.
                              Tem especialização nas áreas de
                              Inovação e Engenharia, adquiridas durante a graduação, e experiência de trabalho em duas
                              startups.
                              Thiago tem um pensamento analítico e criativo sempre voltado a inovação e a melhoria de processos.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 ml-auto">
                        <a href="https://www.linkedin.com/in/thiago-augusto-duarte" target="_blank">
                          <fa-icon [icon]="faLinkedinIn" class="fa-2x mr-3" alt="Linkedin Thiago"></fa-icon>
                        </a>
                        <a href="https://github.com/thiagoagduarte" target="_blank">
                          <fa-icon [icon]="faGithub" class="fa-2x" alt="Github Thiago"></fa-icon>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>