.btn{
    cursor: pointer;
}

.embed {
    position: relative;
    width: 100%;
    padding-bottom: 72.5%;
}

.embed iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}


@media (max-width:1920.98px) {
    .telapequena{
        margin-top: 100px;
    }
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        -moz-transition: .5s all ease;
	transition: .5s all ease;
}