<div class="container">
    
    <div class="row mt-5 mb-5">
        
        
        <div class="col-md-12">
            
            <div>
                <h3 class="text-center text-monospace">Cadastro de Clientes GetMoveis</h3>
                
                <div class="form-group">
                    <label for="nome" class="text-monospace">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="Digite seu nome completo"
                    [(ngModel)]="usuario.nomeCliente" minlength="3" required size="80">
                </div>
                
                <div class="form-group">
                    <label for="email" class="text-monospace">E-mail:</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Digite seu email"
                    required pattern=".+@mail.com" size="80" required [(ngModel)]="usuario.email">
                </div>
                
                <div class="form-group">
                    <label for="password" class="text-monospace">Senha:</label>
                    <input type="password" id="password" class="form-control" name="password" minlength="8"
                    placeholder="Digite uma senha com no minimo 8 caracteres" required [(ngModel)]="usuario.senha">
                </div>
                
                
                
                <div class="d-flex justify-content-end mt-5">
                    <button type="button" class="btn btn-outline-info w-25" (click)="salvar()">Salvar</button>
                </div>
            </div>
            
            <hr class="mt-5 mb-5">
            
            
            
            
            
        </div>
    </div>
    
    
</div>