<div class="container">
  <div class="ordem-compra" *ngIf="idPedidoCompra === undefined">

    <form novalidate>

      <h5>Sua Compra</h5>
      <hr />
      <div *ngIf='getTotal() == 0'>
        <div class="alert alert-danger" role="alert">
          Ainda não há produtos no seu carrinho!
        </div>
      </div>

      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0"
        *ngFor="let produto of listaProdutos">

        <div class="form-group col-sm-1">
          <img src="{{produto.imagem}}" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
          {{produto.nome}}
          <br />
          Senta ae no sofá papai
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link" (click)="Remover(produto)">TIRAR DO CARRINHO</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          {{produto.valor}}
        </div>
      </div>

      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="form-group col-sm-1">

        </div>
        <div class="form-group col-sm-6">
          TOTAL
          <br />

        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link"></button>

              <button type="button" class="btn btn-link"></button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          R$ {{getTotal()}}
        </div>
      </div>




      <h5 class="mt-5">Dados de entrega</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-6">
          <!-- teste ternário verifica qual classe css vai ser aplicada -->
          <input type="text"
            class="form-control {{ enderecoEstadoPrimitivo ? '' : (enderecoValido ? 'is-valid' : 'is-invalid') }} "
            placeholder="Endereço" autocomplete="off" minlength="5" required [value]="endereco" #inputEndereco
            (input)="atualizaEndereco(inputEndereco.value)">
          <div class="invalid-feedback">Endereço inválido</div>
        </div>

        <div class="form-group col-md-2">
          <input type="text"
            class="form-control {{ numeroEstadoPrimitivo ? '' : (numeroValido ? 'is-valid' : 'is-invalid') }}"
            placeholder="Número" autocomplete="off" minlength="1" required [value]="numero" #inputNumero
            (input)="atualizaNumero(inputNumero.value)">
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control {{ complementoValido ? 'is-valid' : '' }}" placeholder="Complemento"
            autocomplete="off" [value]="complemento" #inputComplemento
            (input)="atualizaComplemento(inputComplemento.value)">
        </div>

      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-3">
          <select
            class="custom-select {{ formaPagamentoEstadoPrimitivo ? '' : (formaPagamentoValido ? 'is-valid' : 'is-invalid') }} "
            #selectFormaPagamento (change)="atualizaFormaPagamento(selectFormaPagamento.value)">
            <option value=''>Selecione uma opção</option>
            <option value='boleto' selected="{{ formaPagamento == 'boleto' ? 'selected' : '' }}">Boleto</option>
            <option value='debito' selected="{{ formaPagamento == 'debito' ? 'selected' : '' }}">Débito</option>
            <option value='credito' selected="{{ formaPagamento == 'credito' ? 'selected' : '' }}">Crédito</option>
          </select>

          <div class="invalid-feedback">Selecione uma forma de pagamento</div>
        </div>
      </div>

      <hr />
      <div *ngIf='getTotal() !== 0'>
        <button type="button" class="btn btn-primary btn-lg" [disabled]="formEstado"
          (click)="confirmarCompra()">Confirmar
          pedido</button></div>
    </form>
  </div>
  <div class="ordem-compra" *ngIf="(idPedidoCompra !== undefined)">
    <app-ordem-compra-sucesso [idPedidoCompra]=idPedidoCompra></app-ordem-compra-sucesso>
  </div>
</div>