<footer class="container-fluid">




    <div class="row d-flex d-inline linhaHorizontal corFundo footeritens">

        <div class="btn col col-sm-3 col-lg-4 text-center linhaVertical py-4">
            <h5 class="linkSobrenos" routerLink='/sobrenos'>SOBRE A GETMÓVEIS</h5>
        </div>

        <div class="col-lg-4 text-center linhaVertical py-4">
            <h5 class="linkContato" routerLink='/contato'>CONTATO</h5>
        </div>

        <div class="col-lg-4 text-center linhaVertical py-4">
            <h5 class="linkFAQ" routerLink='/faq'>FAQ</h5>
        </div>
    </div>

    <div class="row rodapeFooter">

        <div class="col-sm-6 col-lg-4 d-flex justify-content-center">

            <div class="d-inline p-2" id="facebookFooter">
                <a href="http://facebook.com">
                    <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-2"></fa-icon>
                </a>
            </div>
            <div class="d-inline p-2" id="instagramFooter">
                <a href="http://instagram.com">
                    <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-2"></fa-icon>
                </a>
            </div>
            <div class="d-inline p-2" id="twitterFooter">
                <a href="http://twitter.com">
                    <fa-icon [icon]="faTwitter" class="faTwitter fa-2x p-2"></fa-icon>
                </a>
            </div>
            <div class="d-inline p-2" id="linkedinFooter">
                <a href="https://br.linkedin.com">
                    <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-2"></fa-icon>
                </a>
            </div>
        </div>

        <div class="col-sm-3 col-lg-4 mt-4 text-center">
            <p>GetMóveis - CNPJ:00.000.000/0000-00</p>
        </div>

        <div class="col-sm-3 col-lg-4 mt-2 text-center">
            <h6>Formas de Pagamento:</h6>
            <fa-icon [icon]="faCcVisa" class="faCcVisa p-2" alt="Cartão Visa"></fa-icon>
            <fa-icon [icon]="faCcMastercard" class="faCcMastercard p-2" alt="Cartão Visa"></fa-icon>
            <fa-icon [icon]="faMoneyBillWaveAlt" class="faMoneyBillWaveAlt p-2" alt="Dinheiro"></fa-icon>
        </div>
    </div>



</footer>