<body>
    <div class="d-flex justify-content-around">
        <form class="form-inline navbar-light bg-light horizontal">
            <span class="col btn btn-outline-get" style="border: none;" (click)='buscaCadeiras()'>Cadeiras</span>
            <span class="col btn btn-outline-get" style="border: none;" (click)='buscaMesas()'>Mesas</span>
            <span class="col btn btn-outline-get" style="border: none;" (click)='buscaPoltronas()'>Poltronas</span>
            <span class="col btn btn-outline-get" style="border: none;" (click)='buscaSofas()'>Sofás</span>
            <span class="col btn btn-outline-get" style="border: none;" (click)='buscaTodos()'>Todos</span>
        </form>
    </div>


    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-3"></div>
            <div class="col-12 col-md-1 mb-1 justify-content-center">
                <h1 class="text-center ajustar">NOSSOS PRODUTOS</h1>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Produto  -->
            <div class="col-md-9 d-flex flex-wrap justify-content-center">
                <div *ngIf='getTotal() == 0'>
                    <div class="alert alert-danger text-center" role="alert">
                        No momento estamos sem produtos para essa busca
                    </div>
                </div>
                <div class="col-10 col-md-3 mr-3 ml-3 mt-5 p-3 produto-grid" *ngFor="let produto of listaProdutos">
                    <div class="imagem">
                        <a>
                            <img src="{{produto.imagem}}" class="w-100">
                            <div class="overlay" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                                <div class="detalhes" (click)="findByCodigoDoProduto(produto.codigoDoProduto)">Detalhes
                                </div>
                            </div>
                        </a>
                    </div>
                    <h6 class="text-center">{{produto.nome}}</h6>
                    <h6 class="text-center">{{ produto.valor | currency: 'BRL': true }}</h6>
                    <div *ngIf='authService.btnLogoutFuncionario()'>
                        <a class="btn comprar text-center" (click)="AdicionarAoCarrinho(produto)">ADICIONAR
                            AO CARRINHO</a>
                    </div>
                    <div *ngIf='authService.btnLoginFuncionario()'>
                        <a class="btn comprar text-center" (click)='EditarProduto(produto.codigoDoProduto)'>
                            EDITAR PRODUTO
                        </a>

                    </div>

                </div>
            </div>

            <!-- Modal ver detalhes -->

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog tamanhoModal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel"><u>{{produto.nome}}</u></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 ml-auto"><img src="{{produto.imagem}}" class="w-100"></div>
                                    <div class="col-md-8 mt-2 ml-auto">
                                        <p><strong>Descrição: </strong>{{produto.descricaoProduto}}</p>
                                        <p><strong>Valor:
                                            </strong>{{produto.valor | currency: 'BRL': true }}</p>
                                        <div *ngIf='authService.btnLogoutFuncionario()'>
                                            <a class="col-md-12 ml-auto btn comprar"
                                                (click)="AdicionarAoCarrinho(produto)">ADICIONAR
                                                AO CARRINHO</a></div>
                                        <div *ngIf='authService.btnLoginFuncionario()'>
                                            <a class="col-md-12 ml-auto btn comprar"
                                                (click)='EditarProduto(produto.codigoDoProduto)'>EDITAR PRODUTO</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>
</body>