.container-fluid{
    background: linear-gradient(to right, white, white) ;
    margin-top: 10px;
}

.register-left{
    text-align: center;
    padding: 30px;
    color: white;
}

.register-left .btn-primary{
    border-radius: 1.2rem;
    border: none;
    font-weight: 600;
    background: #f8f8f8;
    width: 120px;
    color: #555;
    padding: 10px;

}

.register-left .btn-primary:hover{
    background: #4f2c14;
    color: #FFF;
}

.register-left img{

    width: 80px;
    margin-top: 60px;
    margin-bottom: 18px;
    animation: mover 1s infinite alternate;

}

    @keyframes mover{
        0%{transform: translateY(0);}
        100%{transform: translateY(-20px);}
    }

    .register-right{
        border: none;
        background: #f8f8f8;
        padding: 50px;
        border-top-left-radius: 20px 20px 0;
        border-bottom-left-radius: 12% 50%;
        padding: 50px;
    }

    .register-right h2{
        text-align: center;
        margin-bottom: 10px;
        color: grey;

    }

    .register-form{
        padding: 30px;
    }

    .register-right .btn-primary{
        float: right;
        border-radius: 1.2rem;
        border: none;
        font-weight: 600;
        background:  #4f2c14;
        width: 120px;
        color: #fff;
        padding: 10px;
    
    }

    .register-right .btn-primary:hover{
        background: #963e04;
        color: tomato;


    }