<body>

  <div class="container">

    <p class="h1 mt-5 p-5 text-center">Perguntas Frequentes (FAQ)</p>
    <div class="row">
      <div class="col-12">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  Como realizo uma compra?
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                Apenas para pessoas maiores de 18 anos. Faça um cadastro de seus dados
                pessoais, e-mail e senha e navegue em nosso site. Encontrando os
                produtos de sua preferência, inclua-os no carrinho de compras, escolha
                o endereço de entrega e a forma de pagamento.
                <br />
                <b>PRONTO!</b>. No final do processo de compra você receberá o número
                do seu pedido. Todas as etapas serão atualizadas e informadas através
                e-mail cadastrado.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  Quais as formas de pagamento disponíveis?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Disponibilizamos boleto bancário e cartão de crédito como formas de
                pagamento. <br />
                <b>BOLETO BANCÁRIO</b><br />
                Para seu maior conforto, todas suas compras podem ser pagas por boleto
                bancário.<br />
                Importante:<br />
                - Aguarde o e-mail de confirmação do seu pedido para efetuar o
                pagamento do boleto bancário.<br />
                - O pedido não é enviado antes da quitação do boleto bancário.<br />
                - O valor do boleto será igual ao valor total do pedido, ex.: produtos
                + frete - desconto = total.<br />
                - O envio dos produtos é feito após a confirmação do pagamento,
                geralmente 1 dia útil após o pagamento. Lembrando que, esse período é
                o tempo que o banco leva para nos informar sobre o pagamento, não
                necessitando qualquer aviso do cliente.<br />
                - A não quitação do boleto bancário antes do vencimento do mesmo
                acarretará o cancelamento do pedido automaticamente.<br />
                <br />
                <b>CARTÃO DE CRÉDITO</b><br />
                O parcelamento no cartão de crédito pode ser feito em até 6x (seis
                vezes) sem juros. Aceitamos as bandeiras: Visa, Mastercard, American
                Express, Diners, Hipercard e Elo. Parcela mínima de R$ 15,00 (quinze
                reais).<br />
                Para sua segurança, não guardamos os dados do cartão de crédito em
                nosso cadastro e seguimos a LGPD (Lei Geral de Proteção de Dados. Lei
                Federal 13.709/18). Entraremos em contato com a administradora do seu
                cartão para obter autorização. Em seguida seu pedido já estará
                confirmado e liberado para envio.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  É seguro comprar na GetMóveis?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Aqui na GET Móveis toda informação passada por nossos clientes é
                sigilosa conforme a LGPD (Lei Geral de Proteção de Dados. Lei Federal
                13.709/18). Seus dados pessoais estão totalmente protegidos e só serão
                divulgados em caso de requisição judicial ou solicitação na pagina de
                dados pessoais, solicitados pelo cliente. Nos preocupamos com todos os
                detalhes que envolvam a privacidade da sua compra e temos
                procedimentos e ferramentas que garantem a sua segurança.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour">
                  Como a GetMóveis protege meus dados?
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                A Get Móveis, possui parcerias com as maiores e mais qualificadas
                instituições de segurança, certificação e criptografia da internet,
                tudo isso para proporcionar a você toda segurança em relação a seus
                dados pessoais, pedidos e informações sobre formas de pagamento, como
                cartões de crédito.<br />
                Também seguimos a LGPD (Lei Geral de Proteção de Dados. Lei Federal
                13.709/18) Onde através do portal
                <a href="#PaginaMeusDados">Meus Dados na Get Móveis</a> exibe todos os
                seus dados guardados pela Get Móveis e você tem total poder sobre
                eles.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                  aria-expanded="false" aria-controls="collapseFive">
                  Como são realizadas as entregas dos produtos?
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                Você pode optar por 3 tipos de entrega, dependendo do produto
                escolhido e da região de entrega:<br /><br />
                - PAC: Entrega domiciliar, em dias úteis, de segunda a sexta-feira, ou
                entrega interna (Caixa Postal, Posta Restante Pedida e Posta Restante
                Caída). Serão realizadas 3 tentativas de entrega, sendo a 1ª tentativa
                no mesmo dia da chegada do objeto na unidade de distribuição. As 2ª e
                3ª tentativas serão realizadas nos dias úteis imediatamente
                subseqüentes. <br /><br />
                - Sedex: O SEDEX possui entrega domiciliar, em dias úteis, de segunda
                a sexta, em todos os municípios do Brasil. Haverá 3 (três) tentativas
                de entrega em dias úteis seguidos, sendo a primeira na mesma data de
                chegada na unidade de distribuição.<br /><br />
                Nas demais cidades, serão efetuadas três tentativas de entrega, sendo
                a primeira no mesmo dia da chegada do objeto na unidade de
                distribuição. A segunda e a terceira tentativas serão realizadas nos
                dias úteis imediatamente subsequentes.<br />
                Caso as três tentativas de entrega sejam frustradas, o objeto ficará
                disponível para entrega na agência mais próxima do endereço do
                destinatário, pelo prazo de sete dias corridos. Após este prazo o
                objeto será devolvido ao remetente.<br />
                Lembrando que produtos que ultrapassem a medida de limite dos
                Correios, vide abaixo, automaticamente será entregue por
                Transportadora:<br />
                Limites dos Correios:
                <li>O comprimento (C) mínimo é 16 cm e máximo é 105 cm.</li>
                <li>A largura (L) mínima é 11 cm e a máxima é 105 cm.</li>
                <li>A altura (A) mínima é 2 cm e a máxima é 105 cm.</li>
                <li>
                  A soma máxima das dimensões: C + L + A deve ser no máximo 200cm.
                </li>
                <li>PAC e SEDEX: limite mínimo de 300g e máximo 30kg.</li>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                  aria-expanded="false" aria-controls="collapseSix">
                  Qual o prazo de entrega?
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                O prazo de entrega da sua compra varia de acordo com a forma de frete
                selecionada. Ex.: Sedex: até 2 dias úteis - Pac: 5 a 10 dias
                úteis.Transportadora:até 7 dias úteis, ou agendado no ato da
                compra.<br />

                O prazo de entrega começa a valer somente após o pagamento ter sido
                processado em nosso sistema. Nos cartões de crédito, isso se da a
                partir da liberação da compra pela operadora do cartão. No boleto
                bancário, inicia-se após confirmação de pagamento do banco, que pode
                levar de 1 a 2 dias úteis.<br />

                Para saber o valor do frete coloque as mercadorias no carrinho e logo
                após, no ambiente do carrinho, coloque o CEP no campo abaixo dos
                produtos para saber o valor e as formas de frete disponíveis para sua
                localidade.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                  aria-expanded="false" aria-controls="collapseSeven">
                  Posso parcelar minhas compras?
                </button>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
              <div class="card-body">
                Sim, em até 12x (doze vezes) nos cartões de crédito: Visa, Mastercard,
                American Express, Diners, Hipercard e Elo.<br />
                Com parcela mínima de R$15,00 (quinze reais).
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingEight">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                  aria-expanded="false" aria-controls="collapseEight">
                  Vocês possuem loja física?
                </button>
              </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
              <div class="card-body">
                Não possuímos loja física, mas temos um escritório localizado na
                cidade de São Paulo / São Paulo. No endereço: Rua Tito, 54 - Bairro
                Vila Romano - CEP 00000-000. <a href="ColarLinkMaps">Veja no Mapa</a>
                <br />
                Horário de funcionamento e atendimento: Segunda a Sexta-feira das 9h
                às 19h. Sábados das 9h às 14h.
                <br />
                E caso você (cliente ou parceiro) queira conhecer nossa central de
                reparos realizando uma visita é só entrar em contato através do
                telefone para agendarmos.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingNine">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine"
                  aria-expanded="false" aria-controls="collapseNine">
                  Ainda possui dúvidas?
                </button>
              </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
              <div class="card-body">
                <a href="contato" style="color: black; font-weight: bold;">
                  CLIQUE AQUI
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>