

.card, .card-header {

    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 2px 20px 0 rgba(110, 130, 208, .18);
}

.btn-link{
    width: 100%;
    height: 60px;
    color: #000 !important;
    font-weight: bold !important;
    text-align: left !important;
    text-decoration: none !important;
}

.card-body{
    background: #E8EEFF;

}

.btn-link:after{
    content: '\2212';
    width: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 20px;
    position: absolute;
    background: #E8EEFF;
    padding-bottom: 5px;
}

.btn-link.collapsed:after{
    content: '\002B';
}

.btn-link:before{
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: #FFF;
    transform:rotate(45deg);
    z-index: 1;
    left: 20px;
    top: 62px;
}